
/*---------- Messages ----------*/
.lsjl-message-error,
.lsjl-message-notice {
	margin: 10px 0;
	padding: 0 0.6em;
	border-radius: 3px;
}
.lsjl-message-error p,
.lsjl-message-notice p {
	margin: 0.5em 0;
	padding: 2px;
}
.lsjl-message-error {
	border: 1px solid #c00;
	background: #ffebe8;
}
.lsjl-message-notice {
	border: 1px solid #e6db55;
	background: #ffffe0;
}
#lsjl-sort-message {display: none;}

/*===========================================================================*\
      =Slide management
\*===========================================================================*/

/*---------- Misc. components ----------*/
#lsjl-slides .description,
#lsjl-slides .lsjl-upload,
#lsjl-slides label {display: inline-block;}
#lsjl-slides label {min-width: 100px;}
#lsjl-slides .lsjl-textarea-group label {vertical-align: top; margin-top: 3px;}
#lsjl-slides input[type="text"] {margin-bottom: 4px;}
#lsjl-slides .wpa_loop-slide-group {margin: 12px 0 0 2px;}

/*---------- Slide box and placeholder ----------*/
#lsjl-slides .wpa_loop-slide-group {
	border-top: 1px solid #dfdfdf;
}

#lsjl-slides .wpa_group-slide-group,
#lsjl-slides .lsjl-placeholder {
	position: relative;
	min-height: 86px;
	padding: 10px 90px 10px 170px;
	overflow: hidden;
}
#lsjl-slides .wpa_group-slide-group {
	border: 1px solid #dfdfdf;
	border-top-color: #fff;
	background: #f4f4f4;
}
#lsjl-slides .lsjl-placeholder {
	border: 1px dashed #ccc;
	background: #ebebeb;
}

/* Blue color scheme */
.admin-color-classic #lsjl-slides .wpa_loop-slide-group {
	border-top: 1px solid #d1e5ee;
}
.admin-color-classic #lsjl-slides .wpa_group-slide-group {
	border: 1px solid #d1e5ee;
	border-top-color: #fff;
	background: #eff8ff;
}
.admin-color-classic #lsjl-slides .lsjl-placeholder {
	border: 1px dashed #cbdfe8;
	background: #e7f0f7;
}

/*---------- Thumbnail ----------*/
#lsjl-slides .lsjl-slide-thumbnail {
	position: absolute;
	left: 30px;
	top: 50%;
	width: 120px;
	height: 80px;
	margin-top: -43px;
	padding: 2px;
	border: 1px dashed #ccc;
	border-radius: 2px;
}
#lsjl-slides .lsjl-slide-thumbnail img {display: block;}

/*---------- Move handle ----------*/
#lsjl-slides .lsjl-move-handle {
	position: absolute;
	padding: 10px 5px;
	top: 50%;
	left: 7px;
	margin-top: -20px;
	cursor: move;
}
#lsjl-slides .lsjl-move-icon {
	display: block;
	width: 2px;
	height: 20px;
	border-left: 2px solid #aaa;
	border-right: 6px double #aaa;
}
#lsjl-slides .lsjl-move-handle:hover .lsjl-move-icon {
	border-color: #888;
}

/*---------- input fields ----------*/
#lsjl-slides .lsjl-field-group {margin-bottom: 0.3333em;}
#lsjl-slides .lsjl-field-group input,
#lsjl-slides .lsjl-field-group select,
#lsjl-slides .lsjl-field-group textarea {min-width: 250px;}
#lsjl-slides .lsjl-field-group textarea {min-height: 6.5em;}
#lsjl-slides .lsjl-field-group input[type="submit"],
#lsjl-slides .lsjl-field-group input[type="button"] {min-width: 0;}

#lsjl-slides .lsjl-slide-url-field {background: #f4f4f4;}
.admin-color-classic #lsjl-slides .lsjl-slide-url-field {background: #eff8ff;}

#lsjl-slides .lsjl-fields-wrap {
	overflow: hidden;
	max-height: 5em;
	/*-webkit-transition: max-height 0.7s ease-in-out;
	   -moz-transition: max-height 0.7s ease-in-out;
	     -o-transition: max-height 0.7s ease-in-out;
	        transition: max-height 0.7s ease-in-out;*/
}
#lsjl-slides .lsjl-expand-group {display: none; visibility: hidden; margin-top: 0.5em;}
#lsjl-slides .lsjl-fields-wrap.expandable + .lsjl-expand-group {display: inline-block; visibility: visible;}
#lsjl-slides .lsjl-fields-wrap.expanded {max-height: 50em;}

/*---------- Remove slide ----------*/
#lsjl-slides .lsjl-remove-slide {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 1px 2px;
	border-bottom: 1px solid #f00;
	color: #f00;
	line-height: 1.25;
	text-decoration: none;
}
#lsjl-slides .lsjl-remove-slide:hover,
#lsjl-slides .lsjl-remove-slide:focus {
	background: #f00;
	color: #fff;
}